.row{
    margin-left: 20px;
    color: #fff;

}
.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.poster{
    max-height: 250px;
    margin-right: 10px;
}
.posters::-webkit-scrollbar{
    display: none;
}
.smallPoster{
    cursor: pointer;
    max-height: 150px;
    margin-right: 10px;
}
.poster:hover {
    transform : scale(1.3)
}
.smallPoster:hover {
    transform : scale(1.3)
}